@import "tailwindcss";

@theme {
    --color-primary: #F9F7F1;
    --color-secondary: #2E2D2B;
    --color-accent-primary: #D94F45;
    --color-accent-secondary: #C2A878;
    --color-accent-black: #212121;
    --color-accent-aux: #3B4C5A;

    --font-borel: 'Borel', cursive;
    --font-aladin: 'Aladin', cursive;
    --font-dmserif: 'DMSerifText', serif;
}

.banner-container {
  width: 100%;
  height: 6rem; /* same as h-24 */
  overflow: hidden;
  position: relative;
}

.scrolling-pattern {
  display: flex;
  width: 200%; /* two images side by side */
  height: 100%;
  animation: scrollLeft 20s linear infinite;
}

.pattern-img {
  width: 50%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@font-face {
  font-family: 'Borel';
  src: url('./assets/fonts/Borel/Borel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aladin';
  src: url('./assets/fonts/Aladin/Aladin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DMSerifText';
  src: url('./assets/fonts/DM_Serif_Text/DMSerifText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-borel {
  font-family: var(--font-borel);
}
.font-aladin {
  font-family: var(--font-aladin);
}
.font-dmserif {
  font-family: var(--font-dmserif);
}


.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #4f46e5; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}