@import "tailwindcss";

@theme {
    --color-primary: #F9F7F1;
    --color-secondary: #2E2D2B;
    --color-accent-primary: #D94F45;
    --color-accent-secondary: #C2A878;
    --color-accent-black: #212121;
    --color-accent-aux: #3B4C5A;
}
